<!DOCTYPE html>
<html>
    <head>
        <title>Formatting</title>
    </head>
    <body>
        <!-- Bu heading -->
        <h1>
            What is Lorem Ipsum?
        </h1>
        <p>
             Lorem Ipsum has been the industry's standard <b>dummy <i>text  </i></b> ever since <del>1966</del>, when designers at Letraset and James Mosley
        </p>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
        </p>
        <p>
            H<sub>2</sub>O
        </p>
        <p>
            X<sup>2</sup>
        </p>

        
    </body>
</html>